{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="grid-container main">
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12, small-12 cell">
                <h1>Lobby</h1>
                <hr/>
                <small>Most recent messages appear at the top</small>
                <small>The format is Military time "HHMM.SS User : Message"</small>
                <form id="webform">
                    <input type="text" name="message"/>
                    <input type="hidden" name="userid" value="{{ current_user }}"/>
                    <input type="hidden" name="time" value="CurrentTime"/>
                </form>
                <div id="messages"></div>
            </div>
            <div class="grid-x grid-padding-x"></div>
        </div>
    </div>
    <!--TODO: Move to a dedicated file -->
    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`
        const chatSocket = new WebSocket(url)
        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data)

            console.log('DATA: ', data)
            if (data.type === 'chat') {
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('afterbegin',
                    `
                    <div>
                        <p>${data.timenowH}${data.timenowM}.${data.timenowS} ${data.user}: ${data.message}</p>
                    </div>
                    `)
            }
        }

        let form = document.getElementById('webform')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let message = e.target.message.value
            let user = e.target.userid.value
            let d = new Date()
            let timenowH = (d.getHours() < 10) ? '0' + d.getHours() : d.getHours()
            let timenowM = (d.getMinutes() < 10) ? '0' + d.getMinutes() : d.getMinutes()
            let timenowS = (d.getSeconds() < 10) ? '0' + d.getSeconds() : d.getSeconds()

            chatSocket.send(JSON.stringify({
                'message': message,
                'user': user,
                'timenowH': timenowH,
                'timenowM': timenowM,
                'timenowS': timenowS
            }))
            form.reset()
        })
    </script>
{% endblock %}
